nav{
    width: 100%;
    height: 100px;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $p;
    position: sticky;
    top: 0%;
    z-index: 60;

    >h2{
        font-size: 2rem;
    }
    >div{
        display: flex;
        align-items: center;
        gap: 2rem;
        >a{
            color: $color6;
            font-weight: 500;
            transition: all 0.3s;
            letter-spacing: 1px;
            &:hover{
                color: $color3;
            }
        }
    }
    >a >button{
        border: 1px solid $color6_1;
        padding: .5rem 2rem;
        background-color: $color1;
        cursor: pointer;
        color: $color6;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all 0.3s;
        &:hover{
            background-color: $color6;
            color: $color4;
        }
    }

}